<?xml version="1.0"?>
<robot name="Whey_Protein_Vanilla">
  <link name="base">
    <inertial>
      <origin xyz="6.332739971890512e-19 2.533095988756205e-18 -6.332739971890512e-18" />
      <mass value="0.0017833943411836959" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" />
      <geometry>
        <mesh filename="../visual/model.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" />
      <geometry>
        <mesh filename="model.obj" />
      </geometry>
    </collision>
  </link>
</robot>
