<?xml version="1.0"?>
<robot name="turntable">
  <link name="base">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="2.0" />
      <inertia ixx="0.04508067" ixy="0" ixz="0"
               iyy="0.04508067" iyz="0"
               izz="0.09000000" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" />
      <geometry>
        <mesh filename="../visual/model.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" />
      <geometry>
        <cylinder radius="0.3" length="0.022" />
      </geometry>
    </collision>
  </link>
</robot>
